body {
    background-image: url(../imagenes/fondo-pantalla.jpg);
    background-size: cover; 
    background-position:top 
   
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .container h2 {
        color: #333;
    }

    .container p {
        color: #666;
        margin-bottom: 20px;
    }

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    margin-right:20px;
}
.input-container {
    position: relative;
}

.currency {
    position: absolute;
    top: 30%;
    left:200px;
    transform: translateY(-50%);
    color: #666;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #555;
    }

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
